*{margin:0;padding:0;}
.clearfix:after{display:block; height:0; clear:both; content:'.'; visibility:hidden;}
ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,label,form,p,ol,head,footer,nav,section,aside,dialog,figure,figcaption,
hgroup,article{display: block;}
a {text-decoration:none;}
ul,ol{list-style:none;}
.huan{
	max-width:1030px;
	min-width:270px;
	margin:0 auto;
	box-sizing:border-box;
}
.ctive{
	background:#2196f3
	!important;
	color:white
	!important;
}
.news ul li{
	width:28%; 
	font-weitht:bold;
	cursor:pointer;
}
.news ul li a{
	display:block;
	height:81px;
	line-height:81px;
	text-align:center;
}
.news .content{
	float:left;
	overflow:hidden;
}
.news .content p{
	height:361px;
	color:#64707b;
	font-size:13px;
	margin-top:10px;
}

.container {
    max-width: 1030px;
    min-width: 270px;
    padding: 0 15px;
    margin: 40px auto 0 auto;
    box-sizing: border-box;
}
.subMenu {
    width: 26.6%;
}
.fl {
    float: left;
    display: inline;
}
.subMenu ul {
    padding-right: 17px;
    border-right: 1px solid #bababa;
}
.subMenu ul li:first-of-type.hover {
    background-image: url(../imgecr/left_link_03.jpg);
}
.subMenu ul li:first-of-type {
    background-image:url(../imgecr/left_link_02.jpg);
}
.subMenu ul li:nth-of-type(1):hover{
	background-image: url(../imgecr/left_link_03.jpg);
}
.subMenu ul li:nth-of-type(1) a:hover{
	border-bottom-color: #fa9634;
}
.subMenu ul li:nth-of-type(2).hover{
	background-image:url(../imgecr/left_link_07.jpg);
}
.subMenu ul li:nth-of-type(2){
	background:url(../imgecr/left_link_06.jpg) no-repeat 20px center;
}
.subMenu ul li:nth-of-type(2):hover{
	background:url(../imgecr/left_link_07.jpg) no-repeat 20px center;
}
.subMenu ul li:nth-of-type(2) a:hover{
	border-bottom-color: #fa9634;
}
.subMenu ul li:nth-of-type(3).hover{
	background-image:url(../imgecr/left_link_09.jpg);
}
.subMenu ul li:nth-of-type(3){
	background:url(../imgecr/left_link_08.jpg) no-repeat 20px center;
}
.subMenu ul li:nth-of-type(3):hover{
	background:url(../imgecr/left_link_09.jpg) no-repeat 20px center;
}
.subMenu ul li:nth-of-type(3) a:hover{
	border-bottom-color: #fa9634;
}
.subMenu ul li:nth-of-type(4).hover{
	background-image:url(../imgecr/left_link_11.jpg);
}
.subMenu ul li:nth-of-type(4){
	background:url(../imgecr/left_link_10.jpg) no-repeat 20px center;
}
.subMenu ul li:nth-of-type(4):hover{
	background:url(../imgecr/left_link_11.jpg) no-repeat 20px center;
}
.subMenu ul li:nth-of-type(4) a:hover{
	border-bottom-color: #fa9634;
}
.subMenu ul li:nth-of-type(5).hover{
	background-image:url(../imgecr/left_link_13.jpg);
}
.subMenu ul li:nth-of-type(5){
	background:url(../imgecr/left_link_12.jpg) no-repeat 20px center;
}
.subMenu ul li:nth-of-type(5):hover{
	background:url(../imgecr/left_link_13.jpg) no-repeat 20px center;
}
.subMenu ul li:nth-of-type(5) a:hover{
	border-bottom-color: #fa9634;
}
.subMenu ul li:nth-of-type(6).hover{
	background-image:url(../imgecr/left_link_15.jpg);
}
.subMenu ul li:nth-of-type(6){
	background:url(../imgecr/left_link_14.jpg) no-repeat 20px center;
}
.subMenu ul li:nth-of-type(6):hover{
	background:url(../imgecr/left_link_15.jpg) no-repeat 20px center;
}
.subMenu ul li:nth-of-type(6) a:hover{
	border-bottom-color: #fa9634;
}
.subMenu ul li:nth-of-type(7).hover{
	background-image:url(../imgecr/left_link_17.jpg);
}
.subMenu ul li:nth-of-type(7){
	background:url(../imgecr/left_link_16.jpg) no-repeat 20px center;
}
.subMenu ul li:nth-of-type(7):hover{
	background:url(../imgecr/left_link_17.jpg) no-repeat 20px center;
}
.subMenu ul li:nth-of-type(7) a:hover{
	border-bottom-color: #fa9634;
}
.subMenu ul li:nth-of-type(8).hover{
	background-image:url(../imgecr/left_link_19.jpg);
}
.subMenu ul li:nth-of-type(8){
	background:url(../imgecr/left_link_18.jpg) no-repeat 20px center;
}
.subMenu ul li:nth-of-type(8):hover{
	background:url(../imgecr/left_link_19.jpg) no-repeat 20px center;
}
.subMenu ul li:nth-of-type(8) a:hover{
	border-bottom-color: #fa9634;
}

.subMenu ul li {
    background-position: 20px center;
    background-repeat: no-repeat;
}
.pr {
    position: relative;
}
.subMenu ul li.hover a {
    border-bottom-color: #fa9634;
}
.subMenu ul li a {
    display: block;
    padding-left: 70px;
    font-size: 21px;
    line-height: 77px;
    color: #222;
    border-bottom: 4px solid #fff;
    border-bottom-color: rgb(255, 255, 255);
}
.subMenu ul li.hover a {
    border-bottom-color:#fa9634;
}
.main {
    padding-bottom: 40px;
}
.main {
    width: 73.4%;
    padding-top: 5px;
}
.fl {
    float: left;
    display: inline;
}
.main > div {
    padding-left: 48px;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
}
.main > div p {
    text-indent: 32px;
}
.main > div {
    font-size: 16px;
    line-height: 30px;
    color: #000000;
}
.main > div > img {
    padding-top: 17px;
    padding-bottom: 32px;
    width:100%;
}
.main>div h4 {
    font-size: 18px;
    line-height: 50px;
    font-weight: bold;
    color: #fa9634;
}
.subMenu img {
    display: block;
    max-width: 100%;
}

@media screen and (max-width:760px) {
	.subMenu{float:none;}
	.subMenu ul{border-right:0px;}
	.subMenu li{margin-left:34px;float: left;width:27%;}
	.subMenu ul li a{font-size:20px;line-height:50px;padding-left:0px;padding-top:55px;text-align:center;}
	.main > div p {width:100%;}
	.main > div{width:130%;}
}
@media screen and (max-width:760px) {
	.subMenu ul li:nth-of-type(2){
	background:url(../imgecr/left_link_06.jpg) no-repeat center 10px;
}
.subMenu ul li:nth-of-type(2):hover{
	background:url(../imgecr/left_link_07.jpg) no-repeat center 10px;
}
.subMenu ul li:nth-of-type(3){
	background:url(../imgecr/left_link_08.jpg) no-repeat center 10px;
}
.subMenu ul li:nth-of-type(3):hover{
	background:url(../imgecr/left_link_09.jpg) no-repeat center 10px;
}
.subMenu ul li:nth-of-type(4){
	background:url(../imgecr/left_link_10.jpg) no-repeat center 10px;
}
.subMenu ul li:nth-of-type(4):hover{
	background:url(../imgecr/left_link_11.jpg) no-repeat center 10px;
}
.subMenu ul li:nth-of-type(5){
	background:url(../imgecr/left_link_12.jpg) no-repeat center 10px;
}
.subMenu ul li:nth-of-type(5):hover{
	background:url(../imgecr/left_link_13.jpg) no-repeat center 10px;
}
.subMenu ul li:nth-of-type(6){
	background:url(../imgecr/left_link_14.jpg) no-repeat center 10px;
}
.subMenu ul li:nth-of-type(6):hover{
	background:url(../imgecr/left_link_15.jpg) no-repeat center 10px;
}
.subMenu ul li:nth-of-type(7){
	background:url(../imgecr/left_link_16.jpg) no-repeat center 10px;
}
.subMenu ul li:nth-of-type(7):hover{
	background:url(../imgecr/left_link_17.jpg) no-repeat center 10px;
}
.subMenu ul li:nth-of-type(8){
	background:url(../imgecr/left_link_18.jpg) no-repeat center 10px;
}
.subMenu ul li:nth-of-type(8):hover{
	background:url(../imgecr/left_link_19.jpg) no-repeat center 10px;
}
.subMenu ul li:nth-of-type(1){
    background:url(../imgecr/left_link_02.jpg)no-repeat center 10px;
}
.subMenu ul li:nth-of-type(1):hover{
	background-image: url(../imgecr/left_link_03.jpg) no-repeat center 10px;
}
}
@media screen and (max-width:480px) {
	.subMenu li{margin-left:34px;float: left;width:24%;}
	.subMenu ul li a{font-size:14px;line-height:50px;padding-left:0px;padding-top:55px;text-align:center;}
	.subMenu ul li a span{display:none;}
	.main > div p {width:95%;}
}